.login-container {
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;
    .login-content {
        max-width: 974px;
        margin: auto;
        .login-inner {
            border: 1px solid black;
            max-width: 600px;
            margin: auto;
            border: 1px solid #f2f2f2;
            border-radius: 3px;
            background: #fbfbfb;
            padding: 39px 65px 70px;
            .login-title {
                text-align: center;
                margin-bottom: 25px;
                text-transform: uppercase;
                color: #1d5193;
                font-size: 24px;
                line-height: 1.34;
                font-weight: 700 !important;
            }
            .login-form {
                .login-field {
                    margin-right: -15px;
                    margin-left: -15px;
                    .login-row {
                        padding-bottom: 13px;
                        padding-right: 15px;
                        padding-left: 15px;
                        .login-label {
                            margin-bottom: 3px;
                            font-size: 16px;
                            line-height: 1.65;
                        }
                        .musthave {
                            color: #ec2517;
                            font-size: 20px;
                        }
                        .login-input {
                            border-color: #e1e1e1;
                            padding: 0 13px;
                            background-color: #f5f5f5;
                            border: 1px solid #e2e2e2;
                            border-radius: 3px;
                            width: 100%;
                            height: 40px;
                            font-size: 14px;
                            line-height: 1.5;
                            &:focus {
                                box-shadow: none;
                                outline: 0;
                            }
                        }
                    }
                }
            }
            .login-button {
                text-align: center !important;
                .button {
                    border: none;
                    margin-top: 14px;
                    padding-right: 52px;
                    padding-left: 52px;
                    cursor: pointer;
                    position: relative;
                    display: inline-flex;
                    border-radius: 30px;
                    min-width: 253px;
                    padding: 16px;
                    background-color: rgba(16, 191, 81, 0.2);
                    text-align: center;
                    color: #fff;
                    justify-content: center;
                    align-items: center;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        transition: background-color 0.3s ease;
                        border: 4px solid transparent;
                        border-radius: 30px;
                        background-color: #10bf51;
                        background-clip: content-box;
                    }
                    &:hover {
                        &:before {
                            background-color: #089c41;
                        }
                    }

                    .button-text {
                        position: relative;
                        z-index: 100;
                        font-size: 16px;
                        line-height: 1.65;
                        font-weight: 700 !important;
                    }
                }
            }
            .link-login {
                margin-top: 30px;
                .link {
                    color: #1d5193;
                    text-decoration: none;
                }
            }
        }
    }
}
