@import '../../node_modules/antd/dist/reset.css';

.ant-collapse-content-box {
    padding: 0 !important;
}

.ant-collapse-header {
    background-color: #1890ff !important;
    color: white !important;
}

.ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 0px solid #d9d9d9 !important;
}

.ant-collapse-extra:hover {
    cursor: pointer;
}
